<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <!-- <div [ngClass]="messageClass" *ngIf="message"> -->
      <!--   {{ message }} -->
      <!-- </div> -->

      <h3>Blog Feed</h3>
      <hr/>

      <button *ngIf="!processingNewPost" (click)="newBlogForm()" type="button"
        name="button" class="btn btn-primary">
        <span class="oi oi-pencil"></span>
        New Post
      </button>

      <button [disabled]="loadingBlogPosts" *ngIf="!processingNewPost"
        (click)="reloadBlogPosts()" type="button" name="button"
        class="btn btn-secondary">
        <span class="oi oi-reload"></span>
        Reload
      </button>

      <br />
      <br />

      <div *ngIf="!processingNewPost">
        <div class="card">
          <h5 class="card-header bg-primary text-white">Post Title</h5>

          <div class="card-body">
            <p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

          <div class="card-footer">
            <strong>Posted by: </strong>moeabdol
            <br />
            <strong>Date: </strong>September 6th, 2017
            <br />
            <div>
              <strong>Likes: </strong>25
              <br />
              <strong>Dislikes: </strong>22
            </div>

            <div class="btn-group blocks">
              <button type="button" name="button" class="btn btn-sm btn-info">
                Edit
              </button>
              <button type="button" name="button" class="btn btn-sm btn-danger">
                Delete
              </button>

              <div class="dropdown">
                <button type="button" name="button"
                  class="btn btn-sm btn-success" data-toggle="dropdown">
                  <span class="oi oi-thumb-up"></span>
                  Likes: 21
                </button>

                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">moeabdol</a>
                  <a href="#" class="dropdown-item">ginger</a>
                  <a href="#" class="dropdown-item">petal</a>
                </div>
              </div>

              <div class="dropdown">
                <button type="button" name="button"
                  class="btn btn-sm btn-warning text-white"
                  data-toggle="dropdown">
                  <span class="oi oi-thumb-down"></span>
                  Dislikes: 21
                </button>

                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">moeabdol</a>
                  <a href="#" class="dropdown-item">ginger</a>
                  <a href="#" class="dropdown-item">petal</a>
                </div>
              </div>
            </div>

            <br />
            <br />

          </div>
          <div class="card-footer comment-footer">
            <ul class="list-group">
              <li class="list-group-item">
                <button type="button" name="button"
                  class="btn btn-sm btn-danger"
                  (click)="draftComment()">
                  Post Comment
                </button>

                <br />

                <!-- <form> -->
                <!--   <textarea name="comment" rows="10" cols="30" -->
                <!--     class="form&#45;control"></textarea> -->
                <!--   <button type="button" class="btn btn&#45;sm btn&#45;info"> -->
                <!--     Submit Comment -->
                <!--   </button> -->
                <!--   <button type="button" class="btn btn&#45;sm btn&#45;danger"> -->
                <!--     Cancel -->
                <!--   </button> -->
                <!-- </form> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
